@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.KargoTakip>
@{
    ViewBag.Title = "KargoDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Kargo Detayları</h2>
<br />

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <a href="/Kargo/Index" class="btn btn-primary">Önceki Sayfaya Dön</a>
    <br />
    <br />

    <thead>
        <tr>
            <th>Açıklama</th>
            <th>Tarih-Zaman</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Aciklama</td>
                <td>@item.TarihZaman</td>
            </tr>
        }
    </tbody>

</table>

