@model MvcOnlineTicariOtomasyon.Models.Siniflar.Mesajlar
@{
    ViewBag.Title = "YeniMesaj";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AdminLTE 3 | Mailbox</title>

    <!-- Tell the browser to be responsive to screen width -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Content/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Content/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/Content/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>

<body class="hold-transition sidebar-mini">
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->

    <section class="content-header">

        <div class="container-fluid">

            <div class="row mb-2">

                <div class="col-sm-6">

                    <h1>Mesaj Kutusu</h1>

                </div>

                <div class="col-sm-6">

                    <ol class="breadcrumb float-sm-right">

                        <li class="breadcrumb-item"><a href="/CariPanel/Index">Ana Sayfa</a></li>

                        <li class="breadcrumb-item active">Mesajlar</li>

                    </ol>

                </div>

            </div>

        </div><!-- /.container-fluid -->

    </section>

    <!-- Main content -->

    <section class="content">

        <div class="row">

            <div class="col-md-3">

                <a href="/CariPanel/YeniMesaj" class="btn btn-primary btn-block mb-3">Yeni Mesaj</a>

                <div class="card">

                    <div class="card-header">

                        <h3 class="card-title">Klasörler</h3>

                        <div class="card-tools">

                            <button type="button" class="btn btn-tool" data-card-widget="collapse">

                                <i class="fas fa-minus"></i>

                            </button>

                        </div>

                    </div>

                    <div class="card-body p-0">

                        <ul class="nav nav-pills flex-column">

                            <li class="nav-item active">

                                <a href="/CariPanel/GelenMesajlar" class="nav-link">

                                    <i class="fas fa-inbox"></i> Gelen Kutusu

                                    <span class="badge bg-success float-right">@ViewBag.gelenmesajsayisi</span>

                                </a>

                            </li>

                            <li class="nav-item">

                                <a href="/CariPanel/GonderilenMesajlar" class="nav-link">

                                    <i class="far fa-envelope"></i> Gönderilenler

                                    <span class="badge bg-primary float-right">@ViewBag.gidenmesajsayisi</span>

                                </a>

                            </li>

                            <li class="nav-item">

                                <a href="#" class="nav-link">

                                    <i class="far fa-file-alt"></i> Taslaklar

                                </a>

                            </li>

                            <li class="nav-item">

                                <a href="#" class="nav-link">

                                    <i class="fas fa-filter"></i> Spam

                                </a>

                            </li>

                            <li class="nav-item">

                                <a href="#" class="nav-link">

                                    <i class="far fa-trash-alt"></i> Çöp Kutusu

                                </a>

                            </li>

                        </ul>

                    </div>

                    <!-- /.card-body -->

                </div>

                <!-- /.card -->

                <div class="card">

                    <div class="card-header">

                        <h3 class="card-title">Filtreler</h3>

                        <div class="card-tools">

                            <button type="button" class="btn btn-tool" data-card-widget="collapse">

                                <i class="fas fa-minus"></i>

                            </button>

                        </div>

                    </div>

                    <div class="card-body p-0">

                        <ul class="nav nav-pills flex-column">

                            <li class="nav-item">

                                <a href="#" class="nav-link">

                                    <i class="far fa-circle text-danger"></i>

                                    Önemli

                                </a>

                            </li>

                            <li class="nav-item">

                                <a href="#" class="nav-link">

                                    <i class="far fa-circle text-warning"></i> Promosyon

                                </a>

                            </li>

                            <li class="nav-item">

                                <a href="#" class="nav-link">

                                    <i class="far fa-circle text-primary"></i>

                                    Sosyal Medya

                                </a>

                            </li>

                        </ul>

                    </div>

                    <!-- /.card-body -->

                </div>

                <!-- /.card -->

            </div>

            <!-- /.col -->

            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Yeni Mesaj İçeriği</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form method="post">
                            <input class="form-control" placeholder="Alıcı:" name="Alıcı">
                            <br />
                            <input class="form-control" placeholder="Konu:" name="Konu">
                            <br />
                            <textarea id="compose-textarea" class="form-control" style="height: 300px" name="İçerik"></textarea>
                            <br />
                            <!--<div class="btn btn-default btn-file">
                                <i class="fas fa-paperclip"></i> Dosya Eki
                                <input type="file" name="attachment">
                            </div>-->
                            <p class="help-block">Max. 32MB</p>
                            <div class="card-footer">
                                <div class="float-right">
                                    <button class="btn btn-primary"><i class="far fa-envelope"></i> Mesajı Gönder</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>

            <!-- /.col -->

        </div>

        <!-- /.row -->

    </section>

    <aside class="control-sidebar control-sidebar-dark">

        <!-- Control sidebar content goes here -->

    </aside>

    <script src="/Content/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->

    <script src="/Content/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App -->

    <script src="/Content/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>

    <!-- Page Script -->

    <script>
        $(function () {

            //Enable check and uncheck all functionality

            $('.checkbox-toggle').click(function () {

                var clicks = $(this).data('clicks')

                if (clicks) {

                    //Uncheck all checkboxes

                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)

                    $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')

                } else {

                    //Check all checkboxes

                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)

                    $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')

                }

                $(this).data('clicks', !clicks)

            })



            //Handle starring for glyphicon and font awesome

            $('.mailbox-star').click(function (e) {

                e.preventDefault()

                //detect type

                var $this = $(this).find('a > i')

                var glyph = $this.hasClass('glyphicon')

                var fa = $this.hasClass('fa')



                //Switch states

                if (glyph) {

                    $this.toggleClass('glyphicon-star')

                    $this.toggleClass('glyphicon-star-empty')

                }



                if (fa) {

                    $this.toggleClass('fa-star')

                    $this.toggleClass('fa-star-o')

                }

            })

        })</script>

    <!-- AdminLTE for demo purposes -->
    <script src="/Content/AdminLTE-3.0.4/dist/js/demo.js"></script>
    <!-- jQuery -->
    <script src="/Content/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/Content/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Content/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/Content/AdminLTE-3.0.4/dist/js/demo.js"></script>
    <!-- Summernote -->
    <script src="/Content/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- Page Script -->
    <script>
        $(function () {
            //Add text editor
            $('#compose-textarea').summernote()
        })
    </script>

</body>

</html>











